<ActionBar title="Estudiantes">
        <ActionItem
        android.systemIcon="ic_menu_back" 
        ios.position="right"
        android.position="right"
        (tap) ="salir()" text="Salir">
        </ActionItem>
</ActionBar>

<GridLayout>
    <ListView [items]="estudiantes">
        <ng-template let-item="item">            
            <StackLayout>
                <Label [text]="item.nombre"></Label>
                <Label [text]="item.apellido"></Label>
                <Label [text]="item.telefono"></Label>
            </StackLayout>        
        </ng-template>
    </ListView>
 <!--     <Button text="Salir" (tap)="salir()" class="btn btn-primary"></Button>-->
</GridLayout>